* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #474747; /* Grey background for the entire page */
  margin: 0; /* Remove default margin */
}

.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
  box-sizing: border-box; /* Include padding and border in width calculation */
  position: fixed; /* Fix the navbar to the top */
  width: 100%; /* Make the navbar extend the full width of the viewport */
  top: 0; /* Position the navbar at the top of the viewport */
  left: 0; /* Align the navbar to the left */
  z-index: 999; /* Ensure the navbar appears above other content */
}

.navbar-left {
  flex: 1; /* Take up remaining space */
}

.navbar-left ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-left li {
  display: inline;
  margin-right: 10px;
}

.navbar-left a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.navbar-center {
  text-align: center; 
  flex: 10; 
}

.navbar-center h1 {
  margin: 0;
  font-size: 24px;
}

.navbar-right button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.navbar-right button:hover {
  background-color: #45a049;
}

.eachPost {
  margin: 10px;
}